 /*Formatação do menu*/
 nav#menu {
     display: block;
 }

 nav#menu ul {
     list-style: none;
     position: absolute;
     top: 0px;
     left: 300px;
 }

 nav#menu li {
     display: inline-block;
     padding: 10px;
     background-color: rgb(2, 2, 2);
     margin: 5px 5px 5px 5px;
     border-radius: 20px;
     transition: background-color 1s;
 }

 nav#menu li:hover {
     background-color: rgb(70, 142, 160);

 }

 nav#menu a {
     color: white;
     font-size: 20px;
     text-decoration: none;
 }

 /*Formatação da area de cadastro*/
 section#cadastro {
     width: 700px;
     color: white;
     background-color: rgb(0, 0, 0);
     text-align: center;
     border-radius: 25%;
     padding: 20px 0px 70px 0px;
     margin: 50px 70px 50px 500px;
     font-size: 30px;
 }

 #botao {
     position: absolute;
     padding: 10px;
     font-size: 20px;
     margin-left: -60px;
     border-radius: 20px;
 }

 h3 {
     font-size: 50px;
 }

 body#login {
     background-image: url(imagens/fundo.jpg);
 }

 footer#rodape {
     font-size: 20px;
     color: black;
     text-align: center;

 }

 /*formatação da pagina index*/
 div#diventrada {
     font-size: 20px;
     background-color: antiquewhite;

 }

 div#diventrada input#botao {
     font-size: 20px;
     margin-top: 3px;
     border-radius: 20px;
     margin-left: 50px;
 }